<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitGuide"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name=".GerenciarEquipamentos"
            android:exported="false" />
        <activity
            android:name=".EditarEquipamento"
            android:exported="false" />
        <activity
            android:name=".CriarEquipamento"
            android:exported="false" />
        <activity
            android:name=".DetalheExercicio"
            android:exported="false" />
        <activity
            android:name=".MeuTreino"
            android:exported="false" />
        <activity
            android:name=".HomeAluno"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".CriarConta"
            android:exported="false" />
        <activity
            android:name=".EditarExercicio"
            android:exported="false" />
        <activity
            android:name=".DeletarExercicio"
            android:exported="false" />
        <activity
            android:name=".Categorias"
            android:exported="false" />
        <activity
            android:name=".CriarExercicio"
            android:exported="false" />
        <activity
            android:name=".CategoriaPeito"
            android:exported="false" />
        <activity
            android:name=".GerenciarExercicios"
            android:exported="false" />
        <activity
            android:name=".HomeProfessor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatbotActivity"
            android:exported="true"/>

        <activity
            android:name=".GerenciarUsuarios"
            android:exported="false" />
        <activity
            android:name=".DetalheUsuario"
            android:exported="false" />

        <!-- Adicionar no arquivo AndroidManifest.xml dentro da tag <application> -->
        <activity
            android:name=".GerenciarFichas"
            android:exported="false" />
        <activity
            android:name=".CriarEditarFicha"
            android:exported="false" />
        <activity
            android:name=".SelecionarGrupoMuscular"
            android:exported="false" />
        <activity
            android:name=".SelecionarExercicios"
            android:exported="false" />
        <activity
            android:name=".ConfigurarTreino"
            android:exported="false" />


    </application>

</manifest>